h1{
    text-align: center;
}

td{
    width: 20px;
    height: 20px;
    background: #e0e0eb;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}

td.tdClass2{
    background-color: green;
}


tr{
    width: 20px;
    height: 20px;
    background: #e0e0eb;

}

table{
    cursor: default;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.input{
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

input[type="checkbox"]{
    margin: 0;
}

form{
    text-align: center;
}